*{
    font-family: Poppins;
}

.head_case{
    color: #3252DF;
}

header div h1 span {
    color: #152C5B;
}

ul li{
    list-style-type: none;
    margin-right: 20px;
}

.border{
    border-style: solid;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid #b0b0b0;
}

.list{
    display: flex;
    margin-top: 22px;
}

.home{
    color: #3252DF;
}